<template>
  <div class="slider-wp">
    <div class="slide-viewer">
      <button class="prev-button" v-on:click="goPrevSlide">&lsaquo;</button>
      <div class="slide-poster">
        <div
          class="slide-poster-items"
          :style="{ 'margin-left': `-${currentSlideIndex * 100}%` }"
        >
          <div
            class="slide-poster-item"
            v-for="(galleryItem, index) of getCurrentPage"
            :key="index"
            :galleryItem="galleryItem"
          >
            <img class="slide-poster-img" :src="galleryItem.path" />
          </div>
        </div>
      </div>
      <button class="next-button" v-on:click="goNextSlide">&rsaquo;</button>
    </div>
    <div class="gallery-thumb">
      <div
        class="gallery-item"
        v-for="(galleryItem, index) of getCurrentPage"
        :key="index"
        :galleryItem="galleryItem"
        v-on:click="
          $emit('removeItem', galleryItem.id);
          idexLeft();
        "
      >
        <img class="gallery-item-img" :src="galleryItem.path" />
      </div>
    </div>
    <div class="slider-pages">
      <button class="prev-button" v-on:click="goPrevPage()">
        <span>&lsaquo;</span>
      </button>
      <div class="slider-page">
        <span>{{ currentPageNumber }}/{{ getPages }}</span>
      </div>
      <button class="next-button" v-on:click="goNextPage()">
        <span>&rsaquo;</span>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "v-gallery-slider",
  props: {
    galleryItems: {
      type: Array,
      requireq: true,
    },
  },
  data() {
    return {
      currentSlideIndex: 0,
      imgPerPage: 9,
      currentPageNumber: 1,
    };
  },
  methods: {
    goPrevSlide() {
      this.currentSlideIndex > 0 ? this.currentSlideIndex-- : "";
    },
    goNextSlide() {
      if (this.currentSlideIndex < this.getCurrentPage.length - 1) {
        this.currentSlideIndex++;
      }
    },
    goPrevPage() {
      this.currentPageNumber > 1 ? this.currentPageNumber-- : "";
    },
    goNextPage() {
      if (this.currentPageNumber < this.getPages) {
        this.currentPageNumber++;
        this.currentSlideIndex = 0;
      }
    },
    idexLeft() {
      if (this.getCurrentPage.length < 2) {
        this.getPages;
        this.currentPageNumber--;
      }
    },
  },
  computed: {
    getPages() {
      return Math.ceil(this.galleryItems.length / 9);
    },
    getCurrentPage() {
      let from = (this.currentPageNumber - 1) * this.imgPerPage;
      let to = from + this.imgPerPage;
      return this.galleryItems.slice(from, to);
    },
  },
};
</script>

<style>
.slider-wp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 910px;
}
.slide-viewer {
  display: flex;
  align-items: center;
}
.slide-poster,
.slide-poster-img {
  width: 726px;
  height: 363px;
}
.slide-poster {
  overflow: hidden;
}

.slide-poster-items {
  display: flex;
}

.slide-poster-img {
  object-fit: cover;
}

.gallery-item,
.gallery-item-img {
  width: 70px;
  height: 70px;
}

.gallery-item {
  position: relative;
  margin-right: 12px;
}

.gallery-item:hover:before {
  box-sizing: border-box;
  position: absolute;
  content: "\1F5D1";
  font-size: 50px;
  font-weight: bold;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #252525;
}

.gallery-item:last-child {
  margin-right: 0;
}

.gallery-item-img {
  object-fit: cover;
}

.gallery-thumb {
  display: flex;
  justify-content: start;
  width: 100%;
  max-width: 725px;
}
.slider-pages,
.slide-viewer,
.gallery-thumb {
  margin-bottom: 10px;
}

.slider-pages {
  display: flex;
  margin: -10px 0 10px;
}
.slider-pages span {
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  margin-top: 10px;
}
.slider-pages button {
  height: 35px;
  padding: 0;
}
.slider-pages button span {
  font-size: 35px;
  font-weight: normal;
}
</style>