<template>
  <div id="app">
    <v-gallery-slider
      :galleryItems="galleryItems"
      v-on:removeItem="removeItem"
    />
    <div class="load-buttons">
      <input class="file-input" type="file" @change="uploadLocally" />
      <button class="load-button" v-on:click="uploadFromNet">
        Upload from Flickr
      </button>
    </div>
  </div>
</template>

<script>
import vGallerySlider from "@/components/vGallerySlider.vue";
export default {
  name: "App",
  components: { vGallerySlider },
  data() {
    return {
      galleryItems: [
        { id: 1, path: "/assets/Bubbles.jpg", name: "Bubbles.jpg" },
        { id: 2, path: "/assets/Forest.jpg", name: "Forest.jpg" },
        {
          id: 3,
          path: "/assets/Hubble_Extreme_Deep_Field.jpg",
          name: "Hubble_Extreme_Deep_Field.jpg",
        },
        {
          id: 4,
          path: "/assets/huntington bancshares.jpg",
          name: "huntington bancshares.jpg",
        },
        { id: 5, path: "/assets/Lotus.jpg", name: "Lotus.jpg" },
        { id: 6, path: "/assets/Mansion.jpg", name: "Mansion.jpg" },
      ],
    };
  },
  methods: {
    removeItem(id) {
      this.galleryItems = this.galleryItems.filter(
        (galleryItem) => galleryItem.id !== id
      );
    },
    uploadFromNet() {
      fetch(
        "https://api.flickr.com/services/rest/?method=flickr.photos.search&format=json&nojsoncallback=1&api_key=9c0b191a1d8415714a70a2a3db4abdeb&extras=url_m&text=nature/1"
      )
        .then((response) => response.json())
        .then((json) => {
          const rndIndex = Math.floor(Math.random() * json.photos.photo.length);
          const rndPhoto = json.photos.photo[rndIndex];
          this.galleryItems.push({
            id: this.galleryItems.length + 1,
            name: rndPhoto.title,
            path: rndPhoto.url_m,
          });
        });
    },
    uploadLocally(e) {
      const files = e.target.files;
      if (files && files[0]) {
        const reader = new FileReader();
        reader.onload = (e) => {
          this.galleryItems.push({
            id: this.galleryItems.length + 1,
            name: files[0].name,
            path: e.target.result,
          });
        };
        reader.readAsDataURL(files[0]);
      }
    },
  },
};
</script>

<style>
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #252525;
  margin-top: 60px;
}

button:active,
button:focus {
  outline: none;
}

.prev-button,
.next-button {
  height: 60px;
  width: 30px;
  border: none;
  font-size: 35px;
  line-height: 35px;
  color: #252525;
  background-color: transparent;
  cursor: pointer;
}

.prev-button {
  margin-right: 10px;
}
.next-button {
  margin-left: 10px;
}
.load-buttons {
  display: flex;
  justify-content: space-between;
  width: 425px;
}
input[type="file"]::file-selector-button,
input[type="file" i] {
  width: 200px;
  height: 35px;
}
.load-button {
  width: 200px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: #252525;
  color: white;
  font-weight: 500;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}
input[type="file"]::file-selector-button,
.file-input::before {
  content: "Upload new image";
  display: inline-block;
  line-height: 35px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  padding: 0px 45px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: #252525;
  color: white;
  font-weight: 500;
}

.load-button:hover,
.file-input:hover::before {
  background-color: #464646;
}
</style>
